
.sidecontainer :global(.ps-menu-button:hover) {
    background-color: #FEAF00 !important;
    border-radius: 5px;
  }
  /* .sidecontainer {
    width: 250px; 
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1000;
  } */